/* elements */
.btn {
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn-lg {
    font-size: 1.1rem;
    padding: 1.5rem 1.5rem;
    font-weight: 600;
}

.btn-primary {
    background-color: var(--cta-color);
    color: var(--background-color);
    border-radius: 5px;
    border: 2px solid var(--cta-color);
}

.btn-primary:hover {
    background-color: var(--hover-color-button-prim);
}

.btn-secondary {
    background-color: var(--background-color);
    border: 2px solid var(--cta-color);
    color: var(--cta-color);
    border-radius: 5px;
}

.btn-secondary {
    background-color: var(--hover-color-button-sec);
}

.border-radius {
    border-radius: 5px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.flex-row-se {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-row-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-row-end-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-col-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex-col-center-end {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}

.flex-col-start-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer {
    background-color: var(--background-color);
    color: var(--font-color-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 10rem;
    font-size: 1.1rem;
}

i{
    padding: 5px;
    border-radius: 50%;
}

.display-none {
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-spaced {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.li-stacked {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
