:root {
    --bg-primary: #086f9859;
    --color-primary: #5858df;
    --bg-secondary: #d6d5d5;
    --color-secondary: #3a3939;
    --bg-danger: #ff000059;
    --color-danger: #ee6363;
    --bg-warning: #fbff0050;
    --color-warning: #ff9102;
    --bg-success: #5ff5519d;
    --color-success: #1a520f;
}

.alert {
    padding: 0.875rem;
    width: 100%;
    margin: 0.625rem;
    border-radius: 4px;
}

.alert-primary {
    background-color: var(--bg-primary);
    color: var(--color-primary);
}

.alert-secondary {
    background-color: var(--bg-secondary);
    color: var(--color-secondary);
}

.alert-success {
    background-color: var(--bg-success);
    color: var(--color-success);
}

.alert-danger {
    background-color: var(--bg-danger);
    color: var(--color-danger);
}

.alert-warning {
    background-color: var(--bg-warning);
    color: var(--color-warning);
}

#alert-close {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#alert-close button {
    margin-left: auto;
    font-size: 1.25rem;
    color: var(--color-danger);
}

