/* margin */

.m-auto {
    margin: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.mt-auto {
    margin-top: auto;
}

.mr-auto {
    margin-right: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.ml-auto {
    margin-left: auto;
}

/* margin - 0 */

.m-0 {
    margin: 0;
}

.mx-0 {
    margin-left: 0;
    margin-right: 0;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}

.mr-0 {
    margin-right: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.ml-0 {
    margin-left: 0;
}

/* margin - 0.5rem */
.m-sm {
    margin: 0.5rem;
}

.mx-sm {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.my-sm {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mt-sm {
    margin-top: 0.5rem;
}

.mr-sm {
    margin-right: 0.5rem;
}

.mb-sm {
    margin-bottom: 0.5rem;
}

.ml-sm {
    margin-left: 0.5rem;
}

/* margin - 1rem */
.m-1 {
    margin: 1rem;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.ml-1 {
    margin-left: 1rem;
}

/* margin - 1.5rem */

.m-md {
    margin: 1.5rem;
}

.mx-md {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.my-md {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.mt-md {
    margin-top: 1.5rem;
}

.mr-md {
    margin-right: 1.5rem;
}

.mb-md {
    margin-bottom: 1.5rem;
}

.ml-md {
    margin-left: 1.5rem;
}

/* margin - 2rem */
.m-2 {
    margin: 2rem;
}

.mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.ml-2 {
    margin-left: 2rem;
}

/* padding  */

.p-0 {
    padding: 0;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.pt-0 {
    padding-top: 0;
}

.pr-0 {
    padding-right: 0;
}

.pb-0 {
    padding-bottom: 0;
}

.pl-0 {
    padding-left: 0;
}

/* padding - 0.5rem */

.p-sm {
    padding: 8px;
}

.px-sm {
    padding-left: 8px;
    padding-right: 8px;
}

.py-sm {
    padding-top: 8px;
    padding-bottom: 8px;
}

.pt-sm {
    padding-top: 8px;
}

.pr-sm {
    padding-right: 8px;
}

.pb-sm {
    padding-bottom: 8px;
}

.pl-sm {
    padding-left: 8px;
}

/* padding - 1rem */
.p-1 {
    padding: 1rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pr-1 {
    padding-right: 1rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pl-1 {
    padding-left: 1rem;
}

/* padding - 1.5rem */

.p-md {
    padding: 1.5rem;
}

.px-md {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.py-md {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.pt-md {
    padding-top: 1.5rem;
}

.pr-md {
    padding-right: 1.5rem;
}

.pb-md {
    padding-bottom: 1.5rem;
}

.pl-md {
    padding-left: 1.5rem;
}

/* padding - 2rem */

.p-2 {
    padding: 2rem;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pr-2 {
    padding-right: 2rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pl-2 {
    padding-left: 2rem;
}
