@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    /* word-wrap: break-word; */
}

:root {
    --background-linen: #fff8e7;
    --accent-color: #8b82fa;
    --cta-color: #f34e4e;
    /* --font-color: #04151F;
    --font-color-2: #011936; */
    --font-color: #160C28;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-linen);
    /* color: var(--font-color); */
}

nav {
    box-shadow: rgba(0, 0, 0, 0.123) 0px 25px 20px -20px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.3rem 1rem;
}

.nav-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    gap: 2rem;
}

.logo-container {
    padding: 10px;
    flex-basis: 40%;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
    gap: 1.3rem;
    font-size: 1.3rem;
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    /* height: 30rem; */
    padding-right: 3rem;
    flex-wrap: wrap;
    /* z-index: -1; */

}

.hero-image {
    display: block;
    /* justify-content: center;
    align-items: center; */
}

.hero {
    width: 85%;
    mix-blend-mode: multiply;
    min-width: 50%;
    height: auto;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    gap: 1rem;
}

.left {
    flex-basis: 50%;
}

.right {
    flex-basis: 45%;
    width: 100%;
}

.hero-text h3,
.installation-section h3,
ul {
    color: var(--font-color);
    font-weight: 500;
}

.hero-text h1,
.section-content h1 {
    color: var(--font-color);
    font-size: clamp(1.5rem, 4vw, 3rem);
}

.hero-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

button {
    padding: 1.5rem 1.5rem;
    border: none;
    font-size: 1.1rem;
    border-right: 1.9px solid var(--cta-color);
    background-color: transparent;
    color: var(--cta-color);
    font-weight: 600;
    cursor: pointer;
}

.secondary-btn {
    border: 1px solid var(--cta-color);
    background-color: var(--cta-color);
    color: var(--background-linen);
    border-radius: 0.3rem;
    font-weight: 600;
}

.section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    padding: 3rem 3rem;
    gap: 2.5rem;
}

.iframe {
    flex-basis: 40%;
}

.installation-section {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
    /* padding: 3rem 0rem; */
}

ul {
    margin-left: 2rem;
}

a {
    text-decoration: navy;
    color: var(--font-color);
}

footer {
    background-color: var(--accent-color);
    color: var(--font-color-white);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 10rem;
    font-size: 1.1rem;
}

.footer-text .fa {
    color: var(--cta-color);
}

/* hover */

.pointer-cursor {
    cursor: pointer;
}

i {
    padding: 5px;
    border: 1px solid transparent;
    color: var(--font-color);
}

i:hover {
    color: #fbc416;
    border-radius: 50%;
}

.nav-center h4 {
    border-bottom: 2px solid transparent;
}

.nav-center .documentation {
    border-bottom: 2px solid var(--cta-color);
}

.nav-center h4:hover {
    border-bottom: 2px solid #fbc416;
}

.secondary-btn:hover {
    background-color: #f54242;
}

/* hamburger */

.hamburger {
    display: none;
}

.menu {
    display: none;
}

.footer-text {
    text-align: center;
}

/* media querries */

@media screen and (max-width: 940px) {

    main,
    section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;

    }

    .hero {
        width: 90%;
    }

    .installation-section {
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        padding: 3rem 0rem;
    }

    .hero-text {
        justify-content: center;
        align-items: center;
        text-align: center;
        /* gap: 1rem; */
    }

    iframe {
        width: 500px;
        height: 200px;
    }

    h1 {
        font-size: 2rem;
    }

    /* nav {
        display: flex;
        justify-content: space-around;
    } */
}

@media screen and (max-width: 650px) {

    .none,
    .nav .social-links {
        display: none;
    }

    /* .fa-bars:hover {
        cursor: pointer;
        color: #fbc416;
    } */

    .hamburger {
        display: block;
    }

    .nav {
        display: flex;
        justify-content: space-between;
    }

    .menu {
        display: none;
        background-color: var(--accent-color);
        padding: 1rem;
        z-index: 1;
    }

    .menu h4 {
        padding: 1rem;
    }

    .hero-buttons {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .hero-buttons>* {
        padding: 1rem 1rem;
        border-right: transparent;
        border-bottom: 1px solid var(--cta-color);
    }

    .hero-text {
        padding-left: 2rem;
    }
    .logo {
        min-width: 70%;
    }
}