@import url(/native-ui.css);

p {
    margin: 1rem 0;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    z-index: var(--z-2);
}

.logo-dark {
    display: none;
}

header {
    z-index: var(--z-1);
}

.nav,
.downMenu {
    box-shadow: var(--box-shadow);
}

.nav-center {
    flex-grow: 1;
}

.logo-container {
    padding: 10px;
    flex-basis: 80%;
}

.logo {
    max-width: 100%;
    height: auto;
}

#underline {
    border-bottom: 2px solid var(--cta-color);
}

.nav .flex-row-se {
    font-size: 1.3rem;
}

.menu,
.nav-center,
.social-links {
    display: none;
}

.myMenu {
    display: flex;
    flex-basis: 20%;
    justify-content: space-between;
    font-size: 1.1rem;
    align-items: center;
    padding: 8px 1.5rem;
}

.hamburger {
    flex-basis: 10%;
}

.myMenuDown {
    background-color: var(--cta-color);
    position: fixed;
    top: 4rem;
    left: 0;
    right: 0;
}

.myMenuDown h4 {
    font-size: 1.2rem;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    overflow-x: hidden;
    transition: 0.4s;
}

.overlay-down {
    top: 22%;
    height: 0;
    width: 100%;
}

.overlay-content {
    position: relative;
    top: 10%;
    left: 5%;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.overlay-content-down {
    top: 1%;
    left: 1%;
    padding-left: 1.5rem;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    display: block;
}

.overlay-content-down a {
    padding: 8px;
    border-radius: 5px;
    width: max-content;
}

.overlay a:active {
    color: var(--accent-color);
}

.overlay .closebtn {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 2.5rem;
}

.fa-angle-double-up {
    display: none;
}

aside {
    display: none;
}

header {
    position: fixed;
    top: 1rem;
}

.main-content {
    padding: 3rem 2rem;
    margin-top: 5rem;
    height: 87vh;
    overflow-x: hidden;
    overflow-y: auto;
}

i {
    cursor: pointer;
}

.main-nav {
    display: none;
}

iframe {
    z-index: var(--z-0);
}

#avatar .flex-items {
    margin: 1rem 1rem 1rem 0;
}

.avatar-con {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

article .eg-container {
    gap: 1rem;
}

.responsive-img-container {
    width: 30%;
}

#typography .text-left,
#typography .text-center,
#typography .text-right {
    width: 100%;
}

.grid>div {
    background-color: var(--bg-normal);
    height: 5rem;
}

article section {
    margin: 1rem 0;
}

/* dark mode */

.dmb-2 {
    display: none;
}

body.dark-mode .dmb-2 {
    display: block;
}

body.dark-mode .dmb {
    display: none;
}

/* lists */

.stacked-list {
    background-color: var(--bg-grey);
    width: 13rem;
}

.stacked-list hr {
    border: 1px solid var(--font-color-dark);
    width: 100%;
}

/* navigation */

.eg-container-nav {
    position: relative;
    height: 12rem;
}
.page-header {
    position: absolute;
    top: 3rem;
    z-index: 0;
}
/* scroll bar */

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: rgb(116, 115, 115);
}

#go-top {
    position: fixed;
    bottom:2rem;
    right: 2rem;
    border-radius: 50%;
    padding: 5px;
}
#go-top:hover {
    color: var(--cta-color);
}

.highlight-class {
    color: var(--cta-color);
}

/* media queries */

@media screen and (max-width: 190px) {
    .myMenu {
        position: fixed;
        top: 3rem;
        left: 0;
        right: 0;
    }
}

@media screen and (min-width: 1000px) {

    .nav-center,
    .social-links {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem;
    }

    .logo-container {
        flex-basis: 40%;
    }

    .top,
    .hamburger {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: 25% 75%;
    }

    aside {
        display: flex;
        flex-direction: column;
        height: 87vh;
        position: sticky;
        top: 12%;
        left: 0;
    }

    .aside-title h3 {
        font-size: 1.1rem;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: var(--cta-color);
    }

    aside .overlay-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        overflow-x: hidden;
        overflow-y: auto;
        top: 0;
        left: 0;
        padding-left: 0;
    }

    aside .overlay-content div {
        padding: 0.7rem 2rem 0.7rem 1rem;
        border-bottom: 2px solid transparent;
        font-size: 1.1rem;
        cursor: pointer;
    }

    aside .overlay-content div a:hover {
        font-weight: 700;
    }

    aside .overlay-content div a:focus {
        font-weight: 700;
    }

    .nav-center h5 {
        border-bottom: 2px solid transparent;
    }

    .documentation {
        border-bottom: 2px solid var(--cta-color);
    }

    .nav-center h5:hover {
        border-bottom: 2px solid var(--cta-color);
    }

    .social-links i:hover, .social-links i:active {
        color: var(--cta-color)
    }

    main .main-nav {
        display: flex;
        height: max-content;
        align-items: flex-start;
        justify-content: space-evenly;
        border-left: 1px solid var(--font-color-grey);
        color: var(--font-color-grey);
        position: fixed;
        top: 4.8rem;
        right: 0;
    }

    .page-links:active {
        font-weight: 600;
    }
}

